<!DOCTYPE html>
<html lang="en" ng-app="portaoweb">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Portão Web</title>

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
</head>

<body class="container-fluid" ng-controller="portaoCtrl">

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">{{nome}}</h3>
		</div>

		<div class="panel-body">
			<button ng-click="portao()" type="button" class="btn btn-primary btn-block btn-lg"><i class="fa fa-male fa-4x fa-fw" aria-hidden="true"></i><br />Portão</button>
			<button ng-click="garagem()" type="button" class="btn btn-warning btn-block btn-lg"><i class="fa fa-car fa-4x fa-fw" aria-hidden="true"></i><br />Garagem</button>
		</div>
	</div>

	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="PortaoController.js"></script>
</body>

</html>